<main>
  <section class="name-main">
    <h1>Generate your japanese name right now!</h1>
    <button mat-raised-button (click)="getFullnamePWA()">BANZAI</button>
    <h1 *ngIf="(firstname && lastname) || fullname" class="jap-name">
      Konnichiwa
      <strong
        >{{ firstname | titlecase }} {{ lastname | titlecase }} {{ fullname }}
      </strong>
    </h1>
  </section>

  <section *ngIf="(firstname && lastname) || fullname" class="name-options">
    <div *ngIf="firstname && lastname" class="reroll-options">
      <button mat-raised-button (click)="getFirstnamePWA()">
        Reroll Firstname
      </button>
      <button mat-raised-button (click)="getLastnamePWA()">
        Reroll Las tname
      </button>
    </div>
    <app-comments></app-comments>
  </section>
</main>
