ng-progress {
  // host element
}

.ng-progress-bar {
  // bar wrapper
}

.ng-bar-placeholder {
  // bar placeholder

  // change the height of the progress bar
  height: 5px !important;
}

.ng-bar {
  // the actual bar that translates with when the progress increments
  border-top-color: white !important;
  border-left-color: white !important;
  background-color: white !important;
  & > div {
    box-shadow: white 0px 0px 15px, white 0px 0px 5px !important;
  }
}

.ng-spinner {
  // Spinner wrapper
  top: 20px !important;
}

.ng-spinner-icon {
  // The actual spinner where defines the radius size and animation
  height: 25px !important;
  width: 25px !important;
  border-top-color: white !important;
  border-left-color: white !important;
}
