@use "@angular/material" as mat;
@import "./progress-bar.scss";
@include mat.core();

$my-accent: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$names-primary: mat.define-palette(mat.$red-palette);
$names-accent: mat.define-palette($my-accent);

$names-warn: mat.define-palette(mat.$red-palette);

$names-theme: mat.define-light-theme(
  (
    color: (
      primary: $names-primary,
      accent: $names-accent,
      warn: $names-warn,
    ),
  )
);


@include mat.all-component-themes($names-theme);


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

mat-divider {
  background-color: white;
  margin: 20px 0 !important;
}
