<h1><strong>Comments:</strong></h1>
<mat-divider></mat-divider>

<section
  *ngFor="let comment of commentsService.comments$ | async; trackBy: trackItem"
>
  <div class="comment">
    <div class="comment-head">
      <div class="author">
        <h2>
          <strong>{{ comment.author }}</strong>
        </h2>
        <p>{{ comment.commented_at | date: "medium" }}</p>
      </div>
      <h3>ID: {{ comment.comment_id }}</h3>
    </div>
    <p>{{ comment.comment }}</p>
  </div>
  <mat-divider></mat-divider>
</section>

<section class="comment-write">
  <form class="comment-form">
    <mat-form-field class="author">
      <mat-label>Author:</mat-label>
      <input #author color="primary" matInput />
    </mat-form-field>
    <mat-form-field class="text">
      <mat-label>Comment:</mat-label>
      <textarea
        #comment
        matInput
        maxlength="300"
        placeholder="Ex. It makes me feel..."
        color="primary"
      ></textarea>
      <mat-hint align="start"><strong>Write a comment!</strong> </mat-hint>
      <mat-hint align="end">{{ comment.value.length }} / 300</mat-hint>
    </mat-form-field>
  </form>

  <button (click)="submit(author.value, comment.value)" mat-raised-button>
    SUBMIT
  </button>
</section>
